.article-container {
  color: white;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
}

h3 {
  font-size: 30px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

p {
  font-size: 20px;
}

@media (max-width: 600px) {
  h3 {
    font-size: 23px;
  }

  p {
    font-size: 17px;
  }
}
